.search-container {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.input-box{
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    width: 50%;
    box-shadow: 2px 2px 2px 3px rgb(223, 164, 35);
}
.card{
    margin: 0 20px;
    margin-top: 20px;
    padding: 5px;
    width: 30%;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgb(223, 35, 192);
}
.card-img{
    width: 100px;
    height: 300px;
    object-fit:cover;
    /* padding: 5px; */
    /* background-color: rgb(247, 104, 123); */
}
.meal-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
    align-items: center;

}
.main-container{
    display: flex;
}
.no-found
{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-size: 50px;
    color: red;
}